__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
*.env
*.env
!example.env
.venv/
venv/
env/
outputs/checkpoints/
outputs/logs/
data/processed/
data/splits/
data/raw/
data/wandb-scerets/wandb.env
data/wandb-scerets/.env
*.pt
*.bin
*.h5
.ipynb_checkpoints/
*.zip

hf_space/

report_slide*

Background.pdf
BK.png